body {
    background-color: #A1C8F5;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

header {
    width: 100%;
    height: 55px;
    border: 1px solid black;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cabecalho {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.entrada{
    margin-right: 30px;
    justify-content: space-between;
    font-family: 'Roboto',sans-serif;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a {
    margin-left: 20px;
}

.container {
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}

.feed_noticias {
    width: 700px;
    margin: 20px;
    background-color: #BBEDD9;
    border: gray solid 1px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    padding: 20px;
    overflow: hidden;
}

.noticias iframe {
    width: 100%;
    height: 300px;
    max-width: 500px;
    border-radius: 10px;
    margin: 20px 0;
}

.noticias h2 {
    font-size: 1.5rem;
    color: #333;
}

.noticias p {
    font-size: 1rem;
    color: #333;
    margin: 0 14%;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .feed_noticias {
        width: 90%;
    }
}
